/* Work + school picture */

.exp-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding-top: 3rem;
}
  
.work-pic {
  width: 50%;
  padding-left: 1rem;
}
    
.school-pic {
  width: 50%;
  padding-left: 1rem;
} 
  

  



