.proj-one {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  padding: 2em 1em;
}

main img {
  height: 30vh;
  width: 80vw;
}

h3 {
  padding-top: 1em;
}

p {
  padding: 1em 2em;
}

@media (min-width: 600px) {
  main img {
    height: 50vh;
    width: 50vw;
  }
}
