.slide-show {
    width: 50vw;
     }

.slick-next:before, .slick-next:after, .slick-prev:before, .slick-prev:after {
    color: black !important;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .slick-slide {
      max-height: 50vh !important;
  }

  img {
    width: 50vw;
    height: inherit;
  }
 